<ion-view view-title="Perfil">
  <ion-content>
  <div class="list ">
      
      <div class="item item-body">
        <div>
          Kevin Kujawski
        </div>
      </div>
    </div>
    <label class="item item-input item-select">
    <div class="input-label">
      Obra Social / Prepaga
    </div>
    <select>
      <option>ObSBA</option>
      <option selected>OSDE</option>
      <option>Swiss Medical</option>
    </select>
  </label>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Visible a amigos
    </ion-toggle>
    <ion-toggle  ng-model="settings.professionalMode">
        Modo Profesional
    </ion-toggle>
     <ion-toggle  ng-model="settings.anonMode">
        Modo Anónimo
    </ion-toggle>
    </ion-list>

  </ion-content>
</ion-view>
