<ion-view view-title="Profesionales">

<ion-content class="">
<div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Buscar en Orali" ng-model="search.text">
    </label>
    <button id="searchButton" class="button button-small" ng-click="search()">
      Buscar
    </button>
  </div>

  <div ng-repeat="p in profesionales" ng-click="detalleProfesional('{{p.id}}')">

 <a class="item item-thumbnail-left" href="" >
  <img ng-src="{{p.imagen}}">
  <h2>{{p.nombre}} <i class="icon ion-checkmark-circled"></i></h2> 
  <p><strong>{{p.especialidad}}</strong>  </p>
  <p>{{p.distancia}}km {{p.ubicacion}}</p>
<p ng-if="p.opiniones.length > 0" >
    "{{p.opiniones[0].opinion}}"
    <br> <span class="assertive"> <img ng-src="https://graph.facebook.com/{{p.opiniones[0].usuario.facebook}}/picture" height="20" style="border-radius: 20%;vertical-align:middle"> {{p.opiniones[0].usuario.nombre}} {{p.opiniones[0].usuario.apellido}} </span>
</p>

  <span ng-class="{'badge icon-badge':true,'badge-balanced': p.calificacion > 7 || p.calificacion  === 7 ,
                  'badge-energized': (p.calificacion > 5 || p.calificacion === 5) && p.calificacion < 7,
                   'badge-assertive': p.calificacion < 5}" >
                   {{p.calificacion}}

  </span>
 </a>

 </div>

 



</div>

</ion-content>
</ion-view>
